@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <h1 class="text-center">TeachMe <i class="fas fa-graduation-cap"></i></h1>
    <p class="lead">
        A social network website designed to help teachers and student to connect together
    </p>
    <p class="text-center"><a href="@Url.Action("UserRegister", "Login")" class="btn btn-outline-primary btn-lg">Register Here &raquo;</a></p>
</div>
