@model SocialNetwork.ViewModels.ViewModel

@{
    ViewBag.Title = "AdminComplaints";
}

<h2>Complaints</h2>
<hr />

<div class="container">
    @foreach(var complaint in Model.complaints)
    {
    <div class="card">
        <div class="card-header alert alert-danger">
            <div class="row">
                <div class="col-2 text-left">
                    <b>#@complaint.id</b>
                </div>
                <div class="col-5">
                    <b>Sender:</b> @complaint.Sender.name [@complaint.Sender.id]
                </div>
                <div class="col-5">
                    <b>Target:</b> @complaint.Target.name [@complaint.Target.id]
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">@complaint.body</p>
        </div>
        <div class="card-footer text-center">
            <form action="DeleteComplaint" method="post">
                <input name="delete" type="hidden" value="@complaint.id" />
                <input type="submit" class="btn btn-outline-danger" value="Delete" />
            </form>
        </div>
    </div>
        <br />
    }
</div>