@{
    ViewBag.Title = "Search Teacher/Course";
}
<h2>Search Teacher/Course</h2>
<hr />
<div class="row" id="SearchApp">
    <div class="col-6" ng-controller="teacherSearch">
        <div>
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Teacher Name</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                    </div>
                    <input type="text" ng-model="teacherInput" name="email" class="form-control" id="inlineFormInputGroup" placeholder="Teacher Name" autocomplete="off">
                </div>
            </div>
            <hr />
            <h4>Teachers</h4>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                <tr ng-repeat="i in teachers | searchFor:teacherInput">
                    <td>{{ i.name }}</td>
                    <td>{{ i.email }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-6" ng-controller="courseSearch">

        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Course Name</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-search"></i></div>
                </div>
                <input type="text" ng-model="courseInput" name="name" class="form-control" id="inlineFormInputGroup" placeholder="Course Name" autocomplete="off">
            </div>
        </div>
        <hr />
        <h4>Courses</h4>
        <table class="table">
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Teacher</th>
            </tr>
            <tr ng-repeat="i in courses | searchFor:courseInput">
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.teacher }}</td>
            </tr>
        </table>
    </div>
</div>