@model SocialNetwork.Models.Student

@{
    ViewBag.Title = "Student";
}

<h2>@Model.name Student's Page</h2>
<hr />

<ul class="list-group text-center">
    <li class="list-group-item">
        <a href="@Url.Action("Complaint", "Student")">Add Complaint</a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("ShowCourses", "Student")">Enroll To Course</a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("Search", "Student")">Search Teacher/Course</a>
    </li>
</ul>
