@model SocialNetwork.ViewModels.ViewModel

@{
    ViewBag.Title = "StudentGrade";
}

<h2>Update Student Grade</h2>
<hr />

@using (Html.BeginForm("UpdateStudentGrade", "Student", FormMethod.Post))
{
    <div class="form-group row">
        <label for="inputCourse" class="col-sm-2 col-form-label">Course Name</label>
        <div class="col-sm-10">
            <input id="inputCourse" class="form-control" type="text" placeholder="@Model.course.name" readonly>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputGrade" class="col-sm-2 col-form-label">Grade</label>
        <div class="col-sm-10">
            <input
                   type="range" name="grade" id="inputGrade"
                   class="form-control-range"
                   min="0"
                   max="100"
                   step="5"
                   value="@Model.progress.grade"/>
        </div>
    </div>
    <input type="hidden" name="courseId" value="@Model.course.id" />
    <input class="btn btn-outline-primary" id="submit" type="submit" value="Update Grade" />
}

